Imports

In [1]:
from pathlib import Path
from rich.progress import track
import pandas as pd

Load dataset stats.

In [2]:
stats = []

for dataset in track(list(Path('../data/jsonl').iterdir())):
    # if 'task' in dataset.stem: continue
    
    train = pd.read_json(dataset.joinpath('train.jsonl'), lines=True)
    test = pd.read_json(dataset.joinpath('test.jsonl'), lines=True)
    valid = pd.read_json(dataset.joinpath('valid.jsonl'), lines=True)
    
    stats.append({
        'dataset': dataset.stem,
        'train_pos': train.target.sum(),
        'train_neg': (1 - train.target).sum(),
        'valid_pos': valid.target.sum(),
        'valid_neg': (1 - valid.target).sum(),
        'test_pos': test.target.sum(),
        'test_neg': (1 - test.target).sum(),
    })

stats = pd.DataFrame(stats)
stats

Output()

,dataset,train_pos,train_neg,valid_pos,valid_neg,test_pos,test_neg
0,d2a,2487,2156,308,288,0,618
1,codexglued2a,12505,13992,1187,1545,1563,1765
2,all,78409,967559,9441,120767,9816,120931
3,task3,1599843,1600157,160148,159852,160362,159638
4,task4,1601383,1598617,159784,160216,160079,159921
5,task5,1599354,1600646,159820,160180,160048,159952
6,task2,1599307,1600693,160520,159480,160024,159976
7,allbalanced,78409,78409,9441,120767,9816,120931
8,codexglue,10018,11836,1187,1545,1255,1477
9,task6,1600902,1599098,160088,159912,159664,160336
10,task1,1602527,1597473,160087,159913,160325,159675
11,draper,65904,953567,8254,119222,8253,119166

In [3]:
stats['total_pos'] = stats.train_pos + stats.valid_pos + stats.test_pos
stats['total_neg'] = stats.train_neg + stats.valid_neg + stats.test_neg
stats

,dataset,train_pos,train_neg,valid_pos,valid_neg,test_pos,test_neg,total_pos,total_neg
0,d2a,2487,2156,308,288,0,618,2795,3062
1,codexglued2a,12505,13992,1187,1545,1563,1765,15255,17302
2,all,78409,967559,9441,120767,9816,120931,97666,1209257
3,task3,1599843,1600157,160148,159852,160362,159638,1920353,1919647
4,task4,1601383,1598617,159784,160216,160079,159921,1921246,1918754
5,task5,1599354,1600646,159820,160180,160048,159952,1919222,1920778
6,task2,1599307,1600693,160520,159480,160024,159976,1919851,1920149
7,allbalanced,78409,78409,9441,120767,9816,120931,97666,320107
8,codexglue,10018,11836,1187,1545,1255,1477,12460,14858
9,task6,1600902,1599098,160088,159912,159664,160336,1920654,1919346
10,task1,1602527,1597473,160087,159913,160325,159675,1922939,1917061
11,draper,65904,953567,8254,119222,8253,119166,82411,1191955